

.reserva-formulario {
    width: 90%;
    max-width: 600px;
    margin: 80px auto;
    position: relative;
   padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px 1px rgb(0,0,0,0.3);
    border-radius: 5px;
  }
  
  .reserva-formulario h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: none;
    height: 100px;
  }
  
  .btn-reservar {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-reservar:hover {
    background-color: #555;
  }


  
  