<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paseo Nuevo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="css/estilos.css" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/8746eabdf6.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <header id="idEncabezado">
      <!-- place navbar here -->
    </header>
    <main>
      <section id="paseos">
        <div id="app" class="contenedor">
          <form class="reserva-formulario">
            <h2>Alta de Paseo</h2>
            
            <div class="form-group">
              <label for="titulo">Titulo</label>
              <input type="text" name="titulo" id="titulo" v-model="titulo" />
            </div>
            <div class="form-group">
              <label for="descripcion">Descripcion</label>
              <textarea
                id="descripcion"
                name="descripcion"
                required
                v-model="descripcion"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="imagen">Imagen</label>
              <input type="text" name="imagen" id="imagen" v-model="imagen" />
              <img width="100" :src="imagen" alt="" />
            </div>
            <hr class="mb-4">

            <button type="button" class="btn btn-success" v-on:click="grabar()">
              Grabar
            </button>
          </form>
        </div>
      </section>
    </main>
    <footer id="idFooter"></footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="js/objetos.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/paseos.js"></script>
  </body>
</html>
